# Ignore everything in the elec directory
/data/customers/elec/*

# Logs
/logs/*

# Except the entire Generic directory and alias template file
!/data/customers/elec/Generic
!/data/customers/elec/alias_clientes_elec_template.xlsx

/data/load_compilation/processed_files.json
/data/load_compilation/*/*
/data/processed/elec/facturas_elec.db
/data/processed/elec/facturas_elec_manual.pkl
/data/processed/elec/facturas_elec_manual.pkl
/data/verification_project/elec/omie_matrix_estim.pkl
/data/verification_project/elec/omie_matrix_verif.pkl
/data/temp/*
/notebooks/*/*.xml
/data/raw/elec/ssaa_c2/*
/data/verification_project/elec/compodem_a2/*
/notebooks/*/*.xlsx
/notebooks/*/*.csv
/notebooks/*/*.json
/notebooks/*/*.parquet
/notebooks/*/*.pkl
*.pdf
*.zip
*.xml
*.json

/configs/*
!/configs/templates/
!/configs/templates/*

/outputs/invoice_comp/elec/*
!/outputs/invoice_comp/elec/Generic_Seguimiento Electricidad.xlsx

# Ignore all output notebooks and 
/outputs/*/notebooks/*

# Ignore everything in verification_project
/outputs/verification_project/*

# Except these specific paths
!/outputs/verification_project/estim
!/outputs/verification_project/verif

# Ignore everything in estim and verif
/outputs/verification_project/estim/*
/outputs/verification_project/verif/*

# Except the Generic folders
!/outputs/verification_project/estim/Generic
!/outputs/verification_project/verif/Generic

/notebooks/manual/0_CapturedPrice.ipynb
/notebooks/manual/0_General.ipynb

# macOS system files
.DS_Store
**/.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual environment
venv/
env/
.env

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints
