base_path: "/Users/mikelperez/0_Python_projects_v3_reduced/0_Python_projects_reduced/"

configs: 
  folder: "configs"
  config: "configs/config.yaml"
  templates:
    folder: "configs/templates"
    verification_template: "configs/templates/verification_params_template.yaml"
    load_compilation_template: "configs/load_compilation/metering_provider_params_template.yaml"
    invoice_sftp_params: "configs/invoice_comp/invoice_sftp_params_template.yaml"
    market_params: "configs/markets/market_params_template.yaml"
  markets:
    folder: "configs/markets"
    market_params: "configs/markets/market_params.yaml"
  verification_project:
    folder: "configs/templates/verification_project"
    verification_params: "configs/verification_project/verification_params.yaml"
  load_compilation:
    folder: "configs/templates/load_compilation"
    provider_params: "configs/load_compilation/metering_provider_params.yaml"
  invoice_comp:
    folder: "configs/invoice_comp"
    sftp_params: "configs/invoice_comp/invoice_sftp_params.yaml"
logs:
  folder: "logs"
  exe: "logs/{log_name}.log"

data_path:
  elec:
    folder: "data/elec"
    raw: 
      folder: "data/raw/elec"
      ssaa: "data/raw/elec/ssaa_{mode}"
      blackout_2025: "data/raw/elec/blackout_2025.xlsx"
    temp: 
      folder: "data/temp/elec"
      excel: "data/temp/elec/{name}.xlsx"
      parquet: "data/temp/elec/{name}.parquet"
      csv: "data/elec/temp/{name}.csv"
      pickle: "data/temp/elec/{name}.pkl"
      html: "data/temp/elec/{name}.html"
      pdf: "data/temp/elec/{name}.pdf"
    processed:
      folder: "data/processed/elec"
      facturas: "data/processed/elec/facturas_elec.db"
      facturas_manual: "data/processed/elec/facturas_elec_manual.pkl"
      load_parquet: "data/processed/elec/elec_load.parquet"
      futures: "data/processed/elec/futuros_elec.parquet"
      spot: "data/processed/elec/spot_elec.parquet"
      spot_formatted: "data/processed/elec/spot_h_periodos.pkl"
      spot_international: "data/processed/elec/spot_international.pkl"
      perd_month: "data/processed/elec/perdidas{month}{year}.pkl"  # Keeping {month} and {year} for dynamic substitution
      perd_total: "data/processed/elec/perdidas.pkl"
      ssaa_df: "data/processed/elec/ssaa_{mode}.pkl"
      ssaa_df_detailed: "data/processed/elec/ssaa_{mode}_detailed.pkl"
      tope_gas: "data/processed/elec/tope_gas.xlsx"
    customers:
      folder: "data/customers/elec"
      alias_elec: "data/customers/elec/alias_clientes_elec.xlsx"
      alias_elec_template: "data/customers/elec/alias_clientes_elec_template.xlsx"
      customer_single:
        folder: "data/customers/elec/{customer_id}"
        customer_data: "data/customers/elec/{customer_id}/datos_ELEC_{customer_id}_{contract_id}.xlsm"
        grouped_load_hourly: "data/customers/elec/{customer_id}/grouped_load_hourly.xlsx"
        captured_price: "data/customers/elec/{customer_id}/captured_price.xlsx"
        solar_captured_price: "data/customers/elec/{customer_id}/solar_captured_price.xlsx"
        invoice_report: "data/customers/elec/{customer_id}/invoice_report.xlsx"
        raw:
          folder: "data/customers/elec/{customer_id}/raw"
          contract_matrix: "data/customers/elec/{customer_id}/raw/contract_matrix_{cups}.pkl"
          master_matrix: "data/customers/elec/{customer_id}/raw/master_matrix_{cups}.pkl"
          df_coberturas: "data/customers/elec/{customer_id}/raw/df_coberturas_{contract_id}.pkl"
    regulation:
      folder: "data/regulation/elec"
      coefs_excesos: "data/regulation/elec/coefs_excesos.xlsx"
      calendario_periodos: "data/regulation/elec/calendario_periodos.xlsx"
      festivos: "data/regulation/elec/festivos"
      ie: "data/regulation/elec/ie.xlsx"
      peajes_cargos_energia: "data/regulation/elec/peajes_cargos_energia.xlsx"
      peajes_cargos_potencia: "data/regulation/elec/peajes_cargos_potencia.xlsx"
      peajes_energia: "data/regulation/elec/peajes_energia.xlsx"
      cargos_energia: "data/regulation/elec/cargos_energia.xlsx"
      peajes_potencia: "data/regulation/elec/peajes_potencia.xlsx"
      cargos_potencia: "data/regulation/elec/cargos_potencia.xlsx"
      peajes_potencia_pkl: "data/regulation/elec/peajes_potencia.pkl"
      cargos_potencia_pkl: "data/regulation/elec/cargos_potencia.pkl"
      estructura_cargos: "data/regulation/elec/estructura_cargos.xlsx"
      dto_peajes_electrointensivos: "data/regulation/elec/dto_peajes_electrointensivos.xlsx"
    invoice_comp:
      folder: "data/invoice_comp/elec"
      data_raw: "data/invoice_comp/elec/raw_data_elec"
      xml_folder_clean: "data/invoice_comp/elec/xml_folder_clean"
      processed_files: "data/invoice_comp/elec/processed_files.json"
      record_sftp_provider: "data/invoice_comp/elec/record_{provider}.json"
      invoices: 
        folder: "data/invoice_comp/elec/invoices"
    load_compilation:
      folder: "data/load_compilation/elec"
      processed_files: "data/load_compilation/processed_files.json"
      provider: "data/load_compilation/elec/{provider}"
        #add each metering folder if necessary
    position_report:
      folder: "data/position_report/elec"
      apuntamientos: "data/position_report/elec/apuntamientos.pkl"
    verification_project:
      folder: "data/elec/verification_project/elec"
      omie_matrix: "data/verification_project/elec/omie_matrix_{operation}.pkl"
      compodem_a2: "data/verification_project/elec/compodem_a2"
      invoices:
        folder: "data/verification_project/elec/invoices"
        verif_invoice: "data/verification_project/elec/fra_{start_date}_{end_date}_{alias}"
      templates:
        folder: "data/verification_project/elec/templates"
        estim: "data/verification_project/elec/templates/Estimacion_fra.xlsx"
        verif:  "data/verification_project/elec/templates/Template 2024.xlsx" # cambiar nombre
    market_report: 
      folder: "data/market_report/"
      template_week_report: "data/market_report/templates/Cotizaciones Energía Semanales.xlsm"

notebooks:
  folder: "notebooks"
  automated:
    folder: "notebooks/automated"
  manual:
    folder: "notebooks/manual"
    general: "notebooks/manual/0_general.ipynb"
    opt_single: "notebooks/manual/1_opt_potencia_single.ipynb"
    opt_grouped: "notebooks/manual/1_opt_potencia_grouped.ipynb"
  invoice_comp:
    folder: "notebooks/invoice_comp"
    arrange: "notebooks/invoice_comp/1a_arrange.ipynb"
    extract: "notebooks/invoice_comp/1b_extract.ipynb"
    manual_extract: "notebooks/invoice_comp/1c_manual_extract_elec.ipynb"
    export: "notebooks/invoice_comp/2_export.ipynb"
  load_compilation:
    folder: "notebooks/load_compilation"
    clean: "notebooks/load_compilation/1_elec.ipynb"
    provider_nb: "notebooks/load_compilation/2_{provider}_compilation.ipynb"
    load_compile: "notebooks/load_compilation/3_compile_load.ipynb"
  markets:
    folder: "notebooks/markets"
    elec_markets_2a: "notebooks/markets/2a_elec_Markets.ipynb"
    elec_markets_2b: "notebooks/markets/2b_elec_Markets.ipynb"
    perdidas: "notebooks/markets/2c_perd.ipynb"
    ssaa: "notebooks/markets/2d_ssaa.ipynb"
  verification_project:
    folder: "notebooks/verification_project"
    elec: "notebooks/verification_project/1_elec.ipynb"
    build_matrix: "notebooks/verification_project/3_build_omie_matrix.ipynb"
    build_matrix_estim: "notebooks/verification_project/3b_build_omie_matrix_estim.ipynb"
    read_contract: "notebooks/verification_project/4a_read_contract.ipynb"
    merge_market_contract: "notebooks/verification_project/4b_merge_contract_omie.ipynb"
    ver_nb: "notebooks/verification_project/5b_ver_notebook.ipynb"
    hunt_invoices: "notebooks/verification_project/5_hunt_invoices.ipynb"
    estimacion: "notebooks/verification_project/5c_estimacion.ipynb"

scripts:
  folder: "scripts"
  invoice_comp:
    folder: "scripts/invoice_comp"
    exe: "scripts/invoice_comp/invoice_comp_exe.py"
  markets:
    folder: "scripts/markets"
    exe: "scripts/markets/markets_exe.py"
  load_compilation:
    folder: "scripts/load_compilation"
    exe: "scripts/load_compilation/load_compilation_exe.py"
  verification_project:
    folder: "scripts/verification_project"
    exe: "scripts/verification_project/verification_project_exe.py"

src:
  config:
    folder: "src/config"
    config_loader: "src/config/config_loader.py"
  invoice_comp:
    folder: "src/invoice_comp"
    invoice_provider: "src/invoice_comp/{provider}.py"
    check_utility: "src/invoice_comp/check_utility.py"
    facturas: "src/invoice_comp/facturas.py"
    exe_helper: "src/invoice_comp/invoice_comp_exe_helper.py"
    sftp_helper: "src/invoice_comp/sftp_helper.py"
  load_compilation:
    folder: "src/load_compilation"
    exe_helper: "src/load_compilation/load_compilation_exe_helper.py"
    load: "src/load_compilation/load.py"
    provide_nb_exe: "src/load_compilation/provider_notebook_executor.py"
  shared:
    folder: "src/shared"
    festivos: "src/shared/apply_festivos_omie.py"
    dicts: "src/shared/dicts.py"
    elec_price_op: "src/shared/elec_price_op.py"
    esios_api: "src/shared/esios_api.py"
    read_contracts: "src/shared/read_contracts.py"
    read_regulation: "src/shared/read_regulation.py"
    ssaa_ree: "src/shared/ssaa_ree.py"
  utils:
    folder: "src/utils"
    logging: "src/utils/logging_setup.py"
    utils_dates: "src/utils/utils_dates.py"
    utils_var: "src/utils/utils_var.py"
  verification_project:
    folder: "src/verification_project"
    liquidation: "src/verification_project/liquidation.py"
    verif_potencia: "src/verification_project/verif_potencia.py"

outputs:
  markets:
    folder: "outputs/markets"
    elec: 
      folder: "outputs/markets/elec"
      graphs: 
        folder: "outputs/markets/elec/graphs"
        html: "outputs/markets/elec/graphs/{name}.html"
        excel: "outputs/markets/elec/graphs/{name}.xlsx"
        csv: "outputs/markets/elec/graphs/{name}.csv"
        pickle: "outputs/markets/elec/graphs/{name}.pkl"
        parquet: "outputs/markets/elec/graphs/{name}.parquet"
      data:
        folder: "outputs/markets/data/elec"
        html: "outputs/markets/data/elec/{name}.html"
        excel: "outputs/markets/data/elec/{name}.xlsx"
        csv: "outputs/markets/data/elec/{name}.csv"
        pickle: "outputs/markets/data/elec/{name}.pkl"
        parquet: "outputs/markets/data/elec/{name}.parquet"
    notebooks:
      folder: "outputs/markets/notebooks"
      elec_markets_2a: "outputs/markets/notebooks/2a_elec_markets_out.ipynb"
      elec_markets_2b: "outputs/markets/notebooks/2b_elec_markets_out.ipynb"
      perdidas: "outputs/markets/notebooks/2c_Perd_out.ipynb"
      ssaa: "outputs/markets/notebooks/2d_ssaa_out.ipynb"
  invoice_comp:
    folder: "outputs/invoice_comp"
    elec: 
      folder: "outputs/invoice_comp/elec"
      seguimiento: "outputs/invoice_comp/elec/{client_id}_Seguimiento Electricidad.xlsx"
    notebooks:
      folder: "outputs/invoice_comp/notebooks"
      arrange: "outputs/invoice_comp/notebooks/1a_arrange_out.ipynb"
      extract: "outputs/invoice_comp/notebooks/1b_extract_out.ipynb"
      export: "outputs/invoice_comp/notebooks/2_export_out.ipynb"
  load_compilation:
    folder: "outputs/load_compilation"
    graphs: 
      folder: "outputs/load_compilation/graphs"
      html: "outputs/load_compilation/graphs/{name}.html"
      excel: "outputs/load_compilation/graphs/{name}.xlsx"
      csv: "outputs/load_compilation/graphs/{name}.csv"
      pickle: "outputs/load_compilation/graphs/{name}.pkl"
      parquet: "outputs/load_compilation/graphs/{name}.parquet"
    data: 
      folder: "outputs/load_compilation/data"
      html: "outputs/load_compilation/data/{name}.html"
      excel: "outputs/load_compilation/data/{name}.xlsx"
      csv: "outputs/load_compilation/data/{name}.csv"
      pickle: "outputs/load_compilation/data/{name}.pkl"
      parquet: "outputs/load_compilation/data/{name}.parquet"
    notebooks:
      folder: "outputs/load_compilation/notebooks"
      load_compile: "outputs/load_compilation/notebooks/2_compile_load_out.ipynb"
      provider_nb: "outputs/load_compilation/notebooks/1_{provider}_compilation_out.ipynb"
  verification_project:
    folder: "outputs/verification_project"
    estim:
      folder: "outputs/verification_project/estim"
      cliente: 
        folder: "outputs/verification_project/estim/{customer_id}"
        output_estim_excel: "outputs/verification_project/estim/{customer_id}/Estimación Fra. {alias} {month}_{year}.xlsx"
        output_estim_pdf: "outputs/verification_project/estim/{customer_id}/Estimación Fra. {alias} {month} {year}.pdf"
    verif:
      folder: "outputs/verification_project/verif"
      cliente: 
        folder: "outputs/verification_project/verif/{customer_id}"
        output_verif_pdf: "outputs/verification_project/verif/{customer_id}/pdfs/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.pdf"
        output_verif_excel: "outputs/verification_project/verif/{customer_id}/raw/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.xlsx"
        invoice_path_pickle: "outputs/verification_project/verif/{customer_id}/raw/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.pkl"
        output_verif_nb: "outputs/verification_project/verif/{customer_id}/notebooks/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.ipynb"
    notebooks:
      folder: "outputs/verification_project/notebooks"
      elec_markets_2a: "outputs/verification_project/notebooks/1a_shared_2a_elec_markets_out.ipynb"
      perdidas: "outputs/verification_project/notebooks/1b_shared_2c_perd_out.ipynb"
      ssaa: "outputs/verification_project/notebooks/1c_shared_2d_ssaa_out.ipynb"
      provider_nb: "outputs/verification_project/notebooks/1d_load_compilation_2_{provider}_compilation_out.ipynb"
      load_compile: "outputs/verification_project/notebooks/1e_load_compilation_3_compile_load_out.ipynb"
      arrange: "outputs/verification_project/notebooks/1f_invoice_comp_1a_arrange_out.ipynb"
      extract: "outputs/verification_project/notebooks/1g_invoice_comp_1b_extract_out.ipynb"
      build_matrix: "outputs/verification_project/notebooks/2a_build_omie_matrix_out.ipynb"
      build_matrix_estim: "outputs/verification_project/notebooks/2b_build_omie_matrix_estim_out.ipynb"
      elec: "outputs/verification_project/notebooks/3_elec_out.ipynb"
      read_contract: "outputs/verification_project/notebooks/4a_read_contract_out.ipynb"
      merge_market_contract: "outputs/verification_project/notebooks/4b_merge_contract_omie_out.ipynb"
      hunt_invoices: "outputs/verification_project/notebooks/5_hunt_invoices_out.ipynb"
      estimacion: "outputs/verification_project/notebooks/5c_estimacion_out.ipynb"