base_path: "../../"

configs: 
  folder: "../../configs"
  config: "../../configs/config.yaml"
  templates:
    folder: " ../../configs/templates"
    verification_template: "../../configs/templates/verification_params_template.yaml"
    load_compilation_template: "../../configs/load_compilation/load_params_template.yaml"
  verification_project:
    folder: "../../configs/templates/verification_project"
    verification_params: "../../configs/verification_project/verification_params.yaml"
  load_compilation:
    folder: "../../configs/templates/load_compilation"
    load_compilation_params: "../../configs/load_compilation/load_params.yaml"

data_path:
  elec:
    folder: "../../data/elec"
    raw: 
      folder: "../../data/raw/elec"
      ssaa: "../../data/raw/elec/ssaa_{mode}"
    temp: 
      folder: "../../data/temp/elec"
      excel: "../../data/temp/elec/{name}.xlsx"
      parquet: "../../data/temp/elec/{name}.parquet"
      csv: "../../data/elec/temp/{name}.csv"
      pickle: "../../data/temp/elec/{name}.pkl"
      html: "../../data/temp/elec/{name}.html"
      pdf: "../../data/temp/elec/{name}.pdf"
    processed:
      folder: "../../data/processed/elec"
      facturas: "../../data/processed/elec/facturas_elec.db"
      facturas_manual: "../../data/processed/elec/facturas_elec_manual.pkl"
      load_parquet: "../../data/processed/elec/elec_load.parquet"
      futures: "../../data/processed/elec/futuros_elec.parquet"
      spot: "../../data/processed/elec/spot_elec.parquet"
      spot_formatted: "../../data/processed/elec/spot_h_periodos.pkl"
      spot_international: "../../data/processed/elec/spot_international.pkl"
      perd_month: "../../data/processed/elec/perdidas{month}{year}.pkl"  # Keeping {month} and {year} for dynamic substitution
      perd_total: "../../data/processed/elec/perdidas.pkl"
      ssaa_df: "../../data/processed/elec/ssaa_{mode}.pkl"
      ssaa_df_detailed: "../../data/processed/elec/ssaa_{mode}_detailed.pkl"
      tope_gas: "../../data/processed/elec/tope_gas.xlsx"
    customers:
      folder: "../../data/customers/elec"
      alias_elec: "../../data/customers/elec/alias_clientes_elec.xlsx"
      alias_elec_template: "../../data/customers/elec/alias_clientes_elec_template.xlsx"
      customer_single:
        folder: "../../data/customers/elec/{customer_id}"
        customer_data: "../../data/customers/elec/{customer_id}/datos_ELEC_{customer_id}_{contract_id}.xlsm"
        grouped_load_hourly: "../../data/customers/elec/{customer_id}/grouped_load_hourly.xlsx"
        captured_price: "../../data/customers/elec/{customer_id}/captured_price.xlsx"
        solar_captured_price: "../../data/customers/elec/{customer_id}/solar_captured_price.xlsx"
        invoice_report: "../../data/customers/elec/{customer_id}/invoice_report.xlsx"
        raw:
          folder: "../../data/customers/elec/{customer_id}/raw"
          contract_matrix: "../../data/customers/elec/{customer_id}/raw/contract_matrix_{cups}.pkl"
          master_matrix: "../../data/customers/elec/{customer_id}/raw/master_matrix_{cups}.pkl"
          df_coberturas: "../../data/customers/elec/{customer_id}/raw/df_coberturas_{contract_id}.pkl"

    regulation:
      folder: "../../data/regulation/elec"
      coefs_excesos: "../../data/regulation/elec/coefs_excesos.xlsx"
      calendario_periodos: "../../data/regulation/elec/calendario_periodos.xlsx"
      festivos: "../../data/regulation/elec/festivos"
      ie: "../../data/regulation/elec/ie.xlsx"
      peajes_cargos_energia: "../../data/regulation/elec/peajes_cargos_energia.xlsx"
      peajes_cargos_potencia: "../../data/regulation/elec/peajes_cargos_potencia.xlsx"
      peajes_energia: "../../data/regulation/elec/peajes_energia.xlsx"
      cargos_energia: "../../data/regulation/elec/cargos_energia.xlsx"
      peajes_potencia: "../../data/regulation/elec/peajes_potencia.xlsx"
      cargos_potencia: "../../data/regulation/elec/cargos_potencia.xlsx"
      peajes_potencia_pkl: "../../data/regulation/elec/peajes_potencia.pkl"
      cargos_potencia_pkl: "../../data/regulation/elec/cargos_potencia.pkl"
      estructura_cargos: "../../data/regulation/elec/estructura_cargos.xlsx"
      dto_peajes_electrointensivos: "../../data/regulation/elec/dto_peajes_electrointensivos.xlsx"
    invoice_comp:
      folder: "../../data/invoice_comp/elec"
      data_raw: "../../data/invoice_comp/elec/raw_data_elec"
      xml_folder_clean: "../../data/invoice_comp/elec/xml_folder_clean"
      processed_files: "../../data/invoice_comp/elec/processed_files.json"
      processed_files: "../../data/invoice_comp/elec/processed_files.json"
      record_cepsa: "../../data/invoice_comp/elec/record_cepsa.json"
      record_total: "../../data/invoice_comp/elec/record_total.json"
    load_compilation:
      folder: "../../data/load_compilation/elec"
      processed_files: "../../data/load_compilation/processed_files.json"
      clean: "../../data/load_compilation/elec/clean"
        #add each metering folder if necessary
    position_report:
      folder: "../../data/position_report/elec"
      apuntamientos: "../../data/position_report/elec/apuntamientos.pkl"
    verification_project:
      folder: "../../data/elec/verification_project/elec"
      omie_matrix: "../../data/verification_project/elec/omie_matrix.pkl"
      compodem_a2: "../../data/verification_project/elec/compodem_a2"
      invoices:
        folder: "../../data/verification_project/elec/invoices"
        verif_invoice: "../../data/verification_project/elec/fra_{start_date}_{end_date}_{alias}"
      templates:
        folder: "../../data/verification_project/elec/templates"
        estim: "../../data/verification_project/elec/templates/Estimacion_fra.xlsx"
        verif:  "../../data/verification_project/elec/templates/Template 2024.xlsx" # cambiar nombre
    market_report: 
      folder: "../../data/market_report/"
      template_week_report: "../../data/market_report/templates/Cotizaciones Energía Semanales.xlsm"

notebooks:
  folder: "../../notebooks"
  automated:
    folder: "../../notebooks/automated"
  manual:
    folder: "../../notebooks/manual"
    captured_price: "../../notebooks/manual/0_CapturedPrice.ipynb"
    electrointensiv: "../../notebooks/manual/0_electrointensiv.ipynb"
    ppa: "../../notebooks/manual/0_PPA.ipynb"
    draft: "../../notebooks/manual/draft.ipynb"
    fotovoltaica: "../../notebooks/manual/Fotovoltaica.ipynb"
    fotovoltaica_m: "../../notebooks/manual/Fotovoltaica_m.ipynb"
    pr_rectificativas: "../../notebooks/manual/PR_rectificativas.ipynb"
  invoice_comp:
    folder: "../../notebooks/invoice_comp"
    arrange: "../../notebooks/invoice_comp/1A_arrange.ipynb"
    extract: "../../notebooks/invoice_comp/1B_extract.ipynb"
    manual_extract: "../../notebooks/invoice_comp/1C_manual_extract.ipynb"
    cg_manual_extract: "../../notebooks/invoice_comp/1CG_manual_extract.ipynb"
    export: "../../notebooks/invoice_comp/2_export.ipynb"
  load_compilation:
    folder: "../../notebooks/load_compilation"
    clean: "../../notebooks/load_compilation/1_elec.ipynb"
    creara_api: "../../notebooks/load_compilation/2_Creara_compilation.ipynb"
    linkener_api: "../../notebooks/load_compilation/2_Linkener_compilation.ipynb"
    export: "../../notebooks/load_compilation/3_Compile_load.ipynb"
  shared:
    folder: "../../notebooks/shared"
    elec_markets_2a: "../../notebooks/shared/2A_Elec_Markets.ipynb"
    elec_markets_2b: "../../notebooks/shared/2B_Elec_Markets.ipynb"
    perdidas: "../../notebooks/shared/2C_Perd.ipynb"
    ssaa: "../../notebooks/shared/2D_SSAA.ipynb"
  verification_project:
    folder: "../../notebooks/verification_project"
    elec_1: "../../notebooks/verification_project/1_elec.ipynb"
    build_matrix: "../../notebooks/verification_project/3_Build_OMIE_matrix.ipynb"
    build_matrix_estim: "../../notebooks/verification_project/3B_Build_OMIE_matrix_estim.ipynb"
    read_contract: "../../notebooks/verification_project/4A_Read_Contract.ipynb"
    merge_market_contract: "../../notebooks/verification_project/4B_Merge_Contract_OMIE.ipynb"
    ver_nb: "../../notebooks/verification_project/5B_Ver_Notebook.ipynb"
    hunt_invoices: "../../notebooks/verification_project/5_Hunt_Invoices.ipynb"
    estimacion: "../../notebooks/verification_project/5C_Estimacion.ipynb"

outputs:
  market_report:
    folder: "../../outputs/market_report"
    elec: 
      folder: "../../outputs/market_report/elec"
      graphs: 
        folder: "../../outputs/market_report/elec/graphs"
        html: "../../outputs/market_report/elec/graphs/{name}.html"
        excel: "../../outputs/market_report/elec/graphs/{name}.xlsx"
        csv: "../../outputs/market_report/elec/graphs/{name}.csv"
        pickle: "../../outputs/market_report/elec/graphs/{name}.pkl"
        parquet: "../../outputs/market_report/elec/graphs/{name}.parquet"
      data:
        folder: "../../outputs/market_report/data/elec"
        html: "../../outputs/market_report/data/elec/{name}.html"
        excel: "../../outputs/market_report/data/elec/{name}.xlsx"
        csv: "../../outputs/market_report/data/elec/{name}.csv"
        pickle: "../../outputs/market_report/data/elec/{name}.pkl"
        parquet: "../../outputs/market_report/data/elec/{name}.parquet"
  load_compilation:
    folder: "../../outputs/load_compilation"
    graphs: 
      folder: "../../outputs/load_compilation/graphs"
      html: "../../outputs/load_compilation/graphs/{name}.html"
      excel: "../../outputs/load_compilation/graphs/{name}.xlsx"
      csv: "../../outputs/load_compilation/graphs/{name}.csv"
      pickle: "../../outputs/load_compilation/graphs/{name}.pkl"
      parquet: "../../outputs/load_compilation/graphs/{name}.parquet"
    data: 
      folder: "../../outputs/load_compilation/data"
      html: "../../outputs/load_compilation/data/{name}.html"
      excel: "../../outputs/load_compilation/data/{name}.xlsx"
      csv: "../../outputs/load_compilation/data/{name}.csv"
      pickle: "../../outputs/load_compilation/data/{name}.pkl"
      parquet: "../../outputs/load_compilation/data/{name}.parquet"
    notebooks:
      folder: "../../outputs/load_compilation/notebooks"
      export: "../../outputs/load_compilation/notebooks/3_Compile_load_out.ipynb"
      creara_api: "../../outputs/load_compilation/notebooks/2_Creara_compilation_out.ipynb"
    linkener_api: "../../outputs/load_compilation/notebooks/2_Linkener_compilation_out.ipynb"
  verification_project:
    folder: "../../outputs/verification_project"
    estim:
      folder: "../../outputs/verification_project/estim"
      cliente: 
        folder: "../../outputs/verification_project/estim/{customer_id}"
        output_estim_excel: "../../outputs/verification_project/estim/{customer_id}/Estimación Fra. {alias} {month}_{year}.xlsx"
        output_estim_pdf: "../../outputs/verification_project/estim/{customer_id}/Estimación Fra. {alias} {month} {year}.pdf"
    verif:
      folder: "../../outputs/verification_project/verif"
      cliente: 
        folder: "../../outputs/verification_project/verif/{customer_id}"
        output_verif_pdf: "../../outputs/verification_project/verif/{customer_id}/pdfs/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.pdf"
        output_verif_excel: "../../outputs/verification_project/verif/{customer_id}/raw/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.xlsx"
        invoice_path_pickle: "../../outputs/verification_project/verif/{customer_id}/raw/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.pkl"
        output_verif_nb: "../../outputs/verification_project/verif/{customer_id}/notebooks/{year}/{month}/Verificación Fra. {start_date}_{end_date} {alias}.ipynb"
    notebooks:
      folder: "../../outputs/verification_project/notebooks"
      elec_1: "../../outputs/verification_project/notebooks/1_elec_out.ipynb"
      build_matrix: "../../outputs/verification_project/notebooks/3_Build_OMIE_matrix_out.ipynb"
      build_matrix_estim: "../../outputs/verification_project/notebooks/3B_Build_OMIE_matrix_estim_out.ipynb"
      read_contract: "../../outputs/verification_project/notebooks/4A_Read_Contract_out.ipynb"
      merge_market_contract: "../../outputs/verification_project/notebooks/4B_Merge_Contract_OMIE_out.ipynb"
      hunt_invoices: "../../outputs/verification_project/notebooks/5_Hunt_Invoices_out.ipynb"
      estimacion: "../../outputs/verification_project/notebooks/5C_Estimacion_out.ipynb"

  invoice_comp:
    folder: "../../outputs/invoice_comp"
    elec: 
      folder: "../../outputs/invoice_comp/elec"
      seguimiento: "../../outputs/invoice_comp/elec/{client_id}_Seguimiento Electricidad.xlsx"
  shared:
    folder: "../../outputs/shared"
    notebooks:
      folder: "../../outputs/shared/notebooks"
      elec_markets_2a: "../../outputs/shared/notebooks/2A_Elec_Markets_out.ipynb"
      elec_markets_2b: "../../outputs/shared/notebooks/2B_Elec_Markets_out.ipynb"
      perdidas: "../../outputs/shared/notebooks/2C_Perd_out.ipynb"
      ssaa: "../../outputs/shared/notebooks/2D_SSAA_out.ipynb"